<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Our Mission</h1>            

            <mat-card class="p-0 o-hidden" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-md="" class="p-3">            
                   <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <h2 class="capitalize fw-600 my-2">save money</h2>
                            <p>We are committed to helping users save money by providing cost-efficient solutions that reduce unnecessary expenses, where value-for-money and budget consciousness are critical decision factors, our platform focuses on maximizing utility while minimizing cost. We aim to support individuals, families, and small businesses by offering economical alternatives without compromising on quality or reliability.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                            <h2 class="capitalize fw-600 my-2">better ideas</h2>
                            <p>We strive to encourage better ideas through practical innovation rather than complexity. Keeping the world's ecosystem in mind, our focus is on solutions that are simple, scalable, and relevant to real-world problems. We promote creative thinking that leads to sustainable and implementable ideas, especially those that can benefit local communities and emerging markets.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <h2 class="capitalize fw-600 my-2">collaboration</h2>
                            <p>Collaboration lies at the core of our mission. We believe in collective progress, which strongly reflects the various cultural emphasis on community, cooperation, and shared responsibility. Our platform encourages users, teams, and stakeholders to work together, share knowledge, and support each other to achieve common goals. By fostering collaboration, we aim to build trust and long-term relationships.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">search</mat-icon>
                            <h2 class="capitalize fw-600 my-2">easy to find</h2>
                            <p>Ease of access is a key mission objective. Our platform is designed to ensure that information, features, and services are easy to find and understand, even for first-time or non-technical users. Considering India’s diverse population and varying levels of digital literacy, we emphasize intuitive navigation, clear communication, and user-friendly design to ensure inclusivity.</p>
                        </div>
                   </div>                     
                </div> 
                <!-- <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>                    
                    <img src="assets/images/others/mission.jpg" alt="mission" class="mw-100 d-block">                
                </div>             -->
            </mat-card>
                
        </div>
    </div>   
</div>